# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/test1/node_modules
/test1/.pnp
/test1/.pnp.js

# testing
/test1/coverage

# production
/test1/build

# misc
/test1/.DS_Store
/test1/.env.local
/test1/.env.development.local
/test1/.env.test.local
/test1/.env.production.local

/test1/npm-debug.log*
/test1/yarn-debug.log*
/test1/yarn-error.log*
